	

/*** Slider ***/


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; overflow:hidden;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {/*margin: 0 0 10px;*/ padding: 0; overflow:hidden;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 94%; height:350px; border:solid #FFFFFF 8px; box-shadow:#999999 0px 0px 5px; margin-left: 6px; margin-top:6px;}
.flex-pauseplay span {text-transform: capitalize;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {
	width: 92%;
	height:50px;
	padding: 7px;
	position: absolute;
	left: 0;
	bottom: -7px;  
	background: rgba(0,0,0,.6); 
	color: #fff; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.5); 
	font-size: 12px; 
	text-align:left;}

.flex-caption a{

	color:#fff; 
	cursor: pointer;
	border-bottom: 1px dotted #DDD;
	padding: 1px;
	font: 13px;
	text-decoration:none;}	

.flex-caption a:hover{
	color: #000040;
	border-bottom: none;
	text-decoration:none;
	text-shadow: 0 1px 7px rgba(255,255,255,.2);}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0px auto; position: relative; zoom: 1; width:100%; clear:both; max-width:83em;}
.flex-viewport {max-height: 300px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; /*margin: -20px 0 0;*/
margin-left:50px; margin-right:50px; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 10%;   z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 45%; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.flex-direction-nav .flex-prev {left: 10px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}


/* Control Nav */
.flex-control-nav {width: 94%; margin:5px 0 0px;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; overflow:hidden; color:#FFFFFF;  cursor: pointer; border-radius:90px; text-align: left; border:1px solid #ccc;}
.flex-control-paging li a:hover { cursor: pointer; border:3px solid #999;}
.flex-control-paging li a.flex-active { cursor: pointer; border:3px solid #060;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 98; left: 0;}
  .flex-direction-nav .flex-next {opacity: 99; right: 0;}
}



