/* FONT SIZE 1em=10px */
* {margin:0; padding:0;}


/* CLEARFIX */

/* DEFAULTING ELEMENTS */
ul, ol, li {list-style:none;}

fieldset, img, acronym, abbr {border:0;}
img {display: block;}

table {border-spacing:0;}

/* HIDDEN, NONE, MOBILE */
.indented {display:block; left:-999em; line-height:0; position:absolute; text-indent:-999em; top:-999em;}
.hidden, .mobile {display:none;}


/* LINKS */
a {color:#3566A5;}
a:hover {color:#F00; text-decoration:none;/*#cc3d00;*/}







/* TABLA */

.calendar-box {background:#fff;  border:1px solid #bcbcbc; margin:0 auto; padding:3px; position:relative; width:250px; height:250px;}
.calendar-box .calendar-title {font-size:18px; padding:.375em 0 .625em 0; text-align:center;color:#408080;}
.calendar-box .calendar-nav li {position:absolute;}
.calendar-box .calendar-nav-months li {top:.4em;}
.calendar-box .calendar-nav-months li.calendar-nav-previous {left:20px;}
.calendar-box .calendar-nav-months li.calendar-nav-next {right:20px;}
.calendar-box .calendar-nav-months li a,
.calendar-box .calendar-nav-months li a img {display:block; height:30px; width:30px;}
.calendar-box .calendar-nav-years li {bottom:.4em;}
.calendar-box .calendar-nav-years li.calendar-nav-previous {left:5px;}
.calendar-box .calendar-nav-years li.calendar-nav-next {right:.4em;}
.calendar-box .calendar-nav-years li a {color:#3566A5; font-size:1.4em;}
.calendar-box .calendar-nav-years li a:hover,
.calendar-box .calendar-nav-years li a:hover span {color:#cc3d00; text-decoration:none;}

.calendar-box table {border:1px solid #c4c4c4; border-bottom:0; border-right:0; width:250px;}

.calendar-box table th,
.calendar-box table td {border:1px solid #c4c4c4; border-top:0; border-left:0; text-align:center;}

.calendar-box table td a,
.calendar-box table td span,
.calendar-box table td strong {display:block;}
.calendar-box table thead th {background-color:#dbdbdb;}
.calendar-box table thead th,
.calendar-box table td a,
.calendar-box table td span {font-size:10px; padding:.5em 0;}
.calendar-box table td span {color:#c4c4c4;}
.calendar-box table td.day-today strong {border:1px solid #333;}
.calendar-box table td.day-today strong a,
.calendar-box table td.day-today strong span {padding:.4166em 0;}
.calendar-box table td a {color:#3566A5; text-decoration:none;}
.calendar-box table td a:hover {background-color:#3566A5; color:#000;}
.calendar-box table td.day-selected a {background-color:#333; color:#000;}

.calendar-box .close-calendar {position:absolute; right:.2em; top:.2em;}
.calendar-box .close-calendar a {display:block;}
